<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topapp.malek.iranmhs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.topapp.malek.Khateme"
            android:label="@string/title_activity_khateme"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity
            android:name="com.topapp.ShoroPor"
            android:label="@string/title_activity_shoro_por"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.topapp.malek.Details.ShomareActivity" />
        <activity android:name="com.topapp.malek.Details.AzaActivity" />
        <activity android:name="com.topapp.malek.Details.HamahangiActivity" />
        <activity android:name="com.topapp.malek.Details.Morajeat" />
        <activity android:name="com.topapp.malek.Clue" />
        <activity android:name="com.topapp.malek.Plate" />
        <activity
            android:name="com.topapp.malek.MainMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Main3Activity" />
        <activity
            android:name=".Main2Activity"
            android:theme="@style/AppThemertl" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.topapp.malek.iranmhs"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>